<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Card Slider</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
    
    <div id="app">
        <div class="backgraund w-full h-screen flex justify-center items-center" :style="{'background-color': selectedColor}">
            
            <!-- Slider container -->
            <div class="relative">

                <nav class="w-3/4 mx-auto mb-12 flex justify-evenly items-center">
                    <h1 class="text-6xl">Section Cards</h1>
                    
                    <!-- Input Range -->
                    <div class="w-1/8">
                        <label for="small-range" class="mb-2 text-sm font-medium text-gray-900 block">Number of Cards: {{ nCardsToAdd }}</label>
                        <input id="small-range" type="range" min="1" max="10" v-model="nCardsToAdd" class="h-1 border-none rounded-lg text-black bg-black appearance-none cursor-pointer" @click="addCard()">
                    </div>

                    <!-- Input Color per cambio colore sfondo -->
                    <div class="flex items-center">
                        <label for="color">Background color: </label>
                        <input type="color" id="color" name="color" v-model="selectedColor" class="w-8 m-2 border-2 border-solid border-white rounded"> 
                    </div>
                </nav>

                <!-- Slider -->
                <ul class="w-[1720px] mb-12 flex">
                    
                    <!-- Slider card -->
                    <div class="w-[280px] h-[400px] mx-8 rounded-[25px] bg-white inline-block overflow-hidden shadow-xl first-of-type:opacity-50 last-of-type:opacity-50" v-for="card in getActiveArray()" :style=" card.title ? {'visibility': 'visible'} : {'visibility': 'hidden'} ">
                        <!-- Card top -->
                        <div>
                            <img :src="card.src" alt=""  class="rounded-full mx-auto my-9"/>
                        </div>
                        <!-- Card bottom -->
                        <div class="card_bottom text-center p-5">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight">{{ card.title }}</h5>
                            <p class="mb-3 font-normal text-gray-600">{{ card.text }}</p>
                            <a href="https://picsum.photos/" class="py-2 px-3 rounded-lg text-sm font-medium text-center text-white bg-red-700 bg-gradient-to-r inline-flex items-center hover:from-red-700 hover:to-red-500 active:from-red-500 active:to-red-700 visited:text-black">
                                Read more
                            </a>
                        </div>
                    </div>
                </ul>

                <!-- Navigation controller -->
                <button type="button" class="mb-2 px-5 py-2.5 rounded-full text-4xl font-medium text-gray-600 absolute top-1/2 left-[270px] translate-x-0 -translate-y-1/2 disabled:shadow-none disabled:text-gray-600 hover:shadow-2xl hover:transition-all active:shadow-inner focus:text-black" :disabled="arrMinSize == 0" @click="prev()">
                    <i class="fa-solid fa-arrow-left-long"></i>
                </button>
                <button type="button" class="mb-2 px-5 py-2.5 rounded-full text-4xl font-medium text-gray-600 absolute top-1/2 right-[270px] translate-x-0 -translate-y-1/2 disabled:shadow-none disabled:text-gray-600 hover:shadow-2xl hover:transition-all active:shadow-inner focus:text-black" :disabled="arrMaxSize >= getArrayLimit()" @click="next()">
                    <i class="fa-solid fa-arrow-right-long"></i>
                </button>

                <!-- Pagination controller -->
                <ul class="flex justify-center items-center h-28">
                    <li class="inline mr-3" v-for="(indicator, index) in parseInt(nCardsToAdd)">
                        <button class="w-3 h-3 rounded-full bg-zinc-300 hover:w-5 hover:h-5 hover:transition-all active:w-2 active:h-2" :class="{'bg-zinc-900': index === arrMinSize}" @click="selectCard(index)"></button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="script/script.js"></script>
</body>
</html>