/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* input range reset */
#small-range::-moz-range-progress{
    background-color: black;
}

#small-range::-moz-range-thumb{
    background-color: black;
}

/* color range reset */
#color::-moz-color-swatch{
    border-radius: 50px;
    border: none;
}